body{
	background: #efefef;
	font-family: "宋体","微软雅黑", "黑体", arial, helvetica;
}
p {
	margin: 0;
}
a{
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
/*等待加载完vue才显示*/
[v-cloak] {
	display: none;
}
.clearfix:after,
.clearfix:before {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
}
li{
	list-style: none;
}
ul,ol{
	padding: 0;
	margin: 0;
}
svg.icon {
	width: 0.5rem;
	height: 0.5rem;
	vertical-align: -0.15rem;
	fill: currentColor;
	overflow: hidden;
}
/*input框*/
.input>input,
.input>select{
	width: 100%;
	display: block;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	-webkit-appearance: inherit;
	padding: 0.1rem 8px;
	font-size: 0.24rem;
}
.input>select{
	padding: 3px 0;
}

@media screen and (min-width: 320px) {html{font-size:50px;}}
@media screen and (min-width: 360px) {html{font-size:56.25px;}}
@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
@media screen and (min-width: 400px) {html{font-size:62.5px;}}
@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
@media screen and (min-width: 440px) {html{font-size:68.75px;}}
@media screen and (min-width: 480px) {html{font-size:75px;}}
@media screen and (min-width: 520px) {html{font-size:81.25px;}}
@media screen and (min-width: 560px) {html{font-size:87.5px;}}
@media screen and (min-width: 600px) {html{font-size:93.75px;}}
@media screen and (min-width: 640px) {html{font-size:100px;}}
@media screen and (min-width: 680px) {html{font-size:106.25px;}}
@media screen and (min-width: 720px) {html{font-size:112.5px;}}
@media screen and (min-width: 760px) {html{font-size:118.75px;}}
@media screen and (min-width: 800px) {html{font-size:125px;}}
@media screen and (min-width: 960px) {html{font-size:150px;}}